.footer-wrap{
  width: 880px;
  margin-bottom: 40px!important;
  display: flex;
  align-items: stretch;
  justify-content: center;
  .mixpanel-footer {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    font-size: 0px;
  }
  .language{
    width: 110px;
    border: 1px solid #9298A1;
    color: #9298A1;
    text-align: center;
    background-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    padding: 0;
  }
}