.footer-wrap{
  width: 880px;
  margin-bottom: 40px!important;
  display: flex;
  align-items: stretch;
  justify-content: center;
  .mixpanel-footer {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    font-size: 0px;
  }
  select{
    display: inline-block;
    vertical-align: top;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 10px 16px;
    background-color: transparent;
    color: #8D9094;
    text-align-last:center;
    border: 1px solid #9298A1;
    border-radius: 3px;
    width: 110px;
    font-size: 14px;
    &:focus,&:hover{
      outline: none;
    }
  }
}