@import 'bourbon';
@import 'avatar';
$navbar-height: 60px;
.navbar{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  .content-wrapper-270{
    padding: 0px;
  }
  .navbar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    .navbar-toggle{
      background-color: #fff;

    }
    .navbar-banner{
      padding: 15px;
    }
  }
  .navbar-collpase{
    background-color: #fff;
    height: 0vh;
    overflow: hidden;
    transition: height .35s;
    &.collpase{
      height: 100vh;
    }
    >.nav-item{
      text-transform: uppercase;
      >a{
        padding: 10px 15px;
        display: block;
      }
      &.nav-multi-item{
        >a{
          display: inline-block;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar{
    top: 0px;
    padding-top: 30px;
    background-color: transparent;
    .content-wrapper-270{
      display: flex;
      .navbar-collpase{
        flex: 1 1 auto;
      }
    }
    .content-wrapper-270{
      padding: 0px 15px;
    }
    .navbar-header{
      border: none;
      margin-bottom: 0px;
      .navbar-toggle{
        display: none;
      }
    }
    .navbar-collpase{
      margin: 0px;
      height: $navbar-height;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      >.nav-item{
        margin-right: 6px;
        margin-bottom: 0px;
        >a{
          padding: 6px 10px;
          display: inline-block;
        }
      }
    }
  }
}
.nav-user{
  >a{
    background-color: #556af8;
    color: #fff;
    display: flex!important;
    align-items: center;
    >.avator{
      margin-right: 12px;
    }
  }
}