@import 'bourbon';
@import 'avatar';
@import '../variables/colors';
$navbar-height: 60px;
.navbar{
  position: fixed;
  top: 60px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: #fff;
  .content-wrapper-270{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .navbar-header{
    .navbar-banner{
      display: block;
      padding-bottom: 4px;
      .logo{
        vertical-align: bottom;
      }
    }
    .navbar-toggle{
      display: none;
    }
  }
  .navbar-collpase{
    display: flex;
    .nav-item{
      padding: 4px 15px;
      a:hover{
        color: $col-blue;
      }
      .text-primary{
        &:hover{
          color: darken($col-blue, 10%);
        }
      }
    }
  }
  @media (max-width: 768px) {
    top: 0px;
    .content-wrapper-270{
      display: block;
      padding: 0px;
    }
    .navbar-header{
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      .navbar-banner{
        padding: 15px;
      }
      .navbar-toggle{
        display: block;
        background-color: transparent;
      }
    }
    .navbar-collpase{
      display: block;
      height: 0;
      overflow: hidden;
      transition: height .35s;
      &.collpase{
        height: 100vh;
      }
      .nav-item{
        padding: 10px 15px;
      }
    }
  }
}
.nav-user{
  >a{
    background-color: #556af8;
    color: #fff;
    display: flex!important;
    align-items: center;
    >.avator{
      margin-right: 12px;
    }
  }
}