@import 'bourbon';
@import 'avatar';
$navbar-height: 60px;
.navbar{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 999;
  .content-wrapper-270{
    padding: 0px;
  }
  .navbar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    .navbar-toggle{
      background-color: #fff;

    }
    .navbar-banner{
      padding: 15px;
    }
  }
  .navbar-collpase{
    background-color: #fff;
    height: 0vh;
    overflow: hidden;
    transition: height .35s;
    &.collpase{
      height: 100vh;
    }
    >.nav-item{
      text-transform: uppercase;
      >a{
        padding: 10px 15px;
        display: block;
      }
      &.nav-multi-item{
        >a{
          display: inline-block;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
@media (min-width: 480px) {
  .navbar{
    top: 30px;
    .content-wrapper-270{
      display: flex;
      .navbar-collpase{
        flex: 1 1 auto;
      }
    }
    .content-wrapper-270{
      padding: 0px 15px;
    }
    .navbar-header{
      border: none;
      margin-bottom: 0px;
      .navbar-toggle{
        display: none;
      }
    }
    .navbar-collpase{
      margin: 0px;
      height: $navbar-height;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      >.nav-item{
        margin-right: 6px;
        margin-bottom: 0px;
        >a{
          padding: 6px 10px;
          display: inline-block;
        }
      }
    }
  }
}
.nav-user{
  >a{
    background-color: #556af8;
    color: #fff;
    display: flex!important;
    align-items: center;
    >.avator{
      margin-right: 12px;
    }
  }
}
.navbarx{
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: 90px;
  padding: 16px 0px;
  // background-color: black;
  // background-clip: content-box;
  .content-wrapper-60{
    @include clearfix;
  }

  .navbar-left{
    float: left;
    margin-bottom: 16px;
  }
  .nav-logo{
    a{
      position: relative;
      display: block;
      img{
        display: block;
        height: 20px;
      }
      .icon-beta{
        position: absolute;
        right: -14px;
        bottom: -20px;
        color: $col-primary;
        font-size: 12px;
        transform: scale(.75);
      }
    }
  }

  .navbar-right{
    float: right;

    .nav-item{
      display: inline-flex;
      margin: 0 6px;
      padding: 20px 10px;
      vertical-align: middle;
      text-transform: uppercase;
      &:last-child, &:nth-last-child(2){
        margin-right: 0;
        padding-right: 0;
      }
    }
    .nav-sign{
      width: 152px;
      > span{
        margin: 0 10px;
        color: $col-font-gray2;
      }
      a{
        color: $col-primary;
      }
    }
    .nav-condensed{
      padding: 0px;
      width: 152px;
      a{
        display: flex;
        margin-left: auto;
        padding: 6px 10px;
        text-transform: none;
        justify-content: center;
        align-items: center;
        &:hover{
          opacity: .9;
        }
      }
      &.hide{
        display: none;
      }
    }
    .nav-user{
      a{
        background-color: $col-primary;
        color: white;
      }
      .avator{
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      .text{
        margin-left: 10px;
      }
    }
    .nav-enterprise{
      a{
        background-color: #81bf15;
        color: white;
        box-shadow: 0px 3px 10px rgba(108,170,0,0.3);
      }
    }
  }
}
@media (max-width: 480px) {
  .navbarx{
    top: 0px;
    .navbar-toggle{
      background-color: #fff;
    }
    .navbar-left,.navbar-right{
      float: none;
    }
    .navbar-right{
      margin-left: -15px;
      margin-right: -15px;
      .nav-item{
        margin: 0px 2px 0px 0px;
        padding: 0px 10px;
      }
      .nav-condensed{
        width: auto;
        padding: 0px;
        margin: 0px;
      }
    }
  }
  .navx-enterprise{
    display: none!important;
  }
}