@import 'bourbon';

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 30px;
  width: 100%;
  height: 90px;
  // background-color: black;
  // background-clip: content-box;
  .content-wrapper-60{
    @include clearfix;
  }

  .navbar-left{
    float: left;
    padding: 20px 0px;
  }
  .nav-logo{
    a{
      position: relative;
      display: block;
      img{
        display: block;
        height: 20px;
      }
      .icon-beta{
        position: absolute;
        right: -14px;
        bottom: -20px;
        color: $col-primary;
        font-size: 12px;
        transform: scale(.75);
      }
    }
  }

  .navbar-right{
    float: right;

    .nav-item{
      display: inline-flex;
      margin: 0 6px;
      padding: 20px 10px;
      vertical-align: middle;
      text-transform: uppercase;
      &:last-child, &:nth-last-child(2){
        margin-right: 0;
        padding-right: 0;
      }
    }
    .nav-sign{
      width: 152px;
      > span{
        margin: 0 10px;
        color: $col-font-gray2;
      }
      a{
        color: $col-primary;
      }
    }
    .nav-condensed{
      padding: 0px;
      width: 152px;
      a{
        display: flex;
        margin-left: auto;
        padding: 6px 10px;
        text-transform: none;
        justify-content: center;
        align-items: center;
        &:hover{
          opacity: .9;
        }
      }
      &.hide{
        display: none;
      }
    }
    .nav-user{
      a{
        background-color: $col-primary;
        color: white;
      }
      .avator{
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      .text{
        margin-left: 10px;
      }
    }
    .nav-enterprise{
      a{
        background-color: #81bf15;
        color: white;
      }
    }
  }
}
