nav.navbar.navbar-left
  ul
    li
      a(href='') 功能
    li
      a(href='') 文档
    li
      a(href='') 价格
    li
      a(href='') 帮助

nav.navbar.navbar-right
  ul
    li
      a(href='/signin.html') 登录
    li
      a(href='/signup.html') 注册
