.navbar
  .content-wrapper-270
    .navbar-left
      .nav-item.nav-logo
        a(href='/')
          img(src=require('../static/images/logo-inline-blue.svg'))

    .navbar-right
      .nav-item
        a(href='https://github.com/FIRHQ/flow.ci') Documents
      .nav-item
        a(href='/pricing.html') Pricing
      .nav-item.nav-sign
        a(href='/signin.html') Sign In
        span /
        a(href='/signup.html') Sign Up
