.navbar
  .content-wrapper-270
    .navbar-header
      a.navbar-banner(href="/")
        img.logo(src=require('../static/images/logo-inline-blue.svg'))
      button.navbar-toggle
        i.icon-menu
    .navbar-collpase
      .nav-item
        a(href='https://blog.flow.ci/') Blog
      .nav-item
        a(href='https://github.com/FIRHQ/flow.ci') Documents
      .nav-item
        a(href='/pricing.html') Pricing
      .nav-item.nav-multi-item.nav-sign
        a(href='/signin.html') Sign In
        span /
        a(href='/signup.html') Sign Up
      .nav-item.nav-condensed.nav-user.hide
        a
          img.avator
          span.text Dashboard