@import 'bourbon';

#signin-form, #signup-form, .form{
  display: flex;
  flex-direction: column;
  width: 320px;

  legend{
    margin-bottom: 30px;
    font-size: 28px;
  }

  .form-control{
    margin-bottom: 12px;
    position: relative;
    input{
      margin-bottom: 4px;
    }
  }

  .text-danger {
    color: $col-red;
    margin-bottom: 4px;
    display: none;
  }

  .form-error{
    margin-bottom: 12px;
  }
  input, textarea, select{
    width: 100%;
    border-color: $col-grey100;
    @include placeholder {
      color: #A7ACB9;
    }
  }
  input, textarea{
    &:focus{
      border-color: $col-primary;
    }
  }

  input[type='submit']{
    background-color: $col-primary;
    color: #fff;
    &[disabled='disabled'] {
      opacity: .7;
    }
  }

  textarea{
    height: 80px;
  }
}

#signin-form{
  input[type='submit']{
    margin-bottom: 10px;
  }
}