@import 'bourbon';

#signin-form, #signup-form{
  display: flex;
  flex-direction: column;
  width: 320px;

  legend{
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
  }

  .form-control{
    margin-bottom: 12px;
    input{
      margin-bottom: 4px;
    }
  }

  .text-danger {
    color: $col-red;
    margin-bottom: 4px;
    display: none;
  }

  .form-error{
    margin-bottom: 12px;
  }
  input, textarea{
    width: 100%;
    border-color: $col-primary;
    @include placeholder {
      color: rgba($col-primary, .5);
    }
  }

  input[type='submit']{
    background-color: $col-font-gray;
    background-color: $col-primary;
    color: #fff;
  }

  textarea{
    height: 80px;
  }
}
