@charset 'UTF-8';
@import 'bourbon';

$col-page-home-primary: $col-font-black;

$slogan-color: $col-page-home-primary;
$subtitle-color: $col-page-home-primary;

$color-flow-line: $color-grey;

.page-home{
  margin-bottom: 60px;
  header{
    margin-bottom: 64px;
  }
  .section{
    line-height: 1.2;
    color: #4b4e52;
    // min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    &.banner{
      height: 100vh;
    }
    h1{
      font-weight: 700;
      font-size: 44px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    h3 {
      font-weight: 100;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }
  .banner{
    min-height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slogan{
      margin-bottom: 32px;
    }
    form{
      width: 100%;
      max-width: 600px;
      margin: 0px auto 8px;
      input, button{
        width: 100%;
        height: 54px; // h 48px
        padding: 12px 24px;
        border-color: transparent;
        border-radius: 0;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);
        margin-bottom: 12px;
        -webkit-appearance: none;
      }
      input[type='submit'], input[type='button'] {
        background-color: #556af8;
        color: #fff;
        font-weight: 700;
        margin-bottom: 4px;
      }
    }
  }
  .plugins{
    line-height: 1.4;
    h4.title{
      color: #53575C;
      margin-bottom: 12px;
      font-size: 20px;
    }
    .categories{
      color: #8C929B;
      .cate{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 12px;
        >.icon{
          display: none;
        }
      }
      .item{
        font-size: 16px;
        margin-bottom: 8px;
        >i{
          margin-right: 6px;
          color: #81bf15;
          font-size: 12px;
        }
      }
    }
  }
  .languages{
    .lang{
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      margin-bottom: 12px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .89px;
      color: $col-font-black;
      >i{
        display: flex;
        width: 100px;
        height: 100px;
        margin: 0px auto 24px;
        border-radius: 50%;
        background-color: #556af8;
        color: #fff;
        font-size: 40px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .more-things{
    header{
      margin-bottom: 72px;
    }
    .things{
      .item{
        >a{
          display: flex;
          align-items: center;
          padding: 12px 0;
          i{
            color: $col-primary;
            margin-right: 12px;
            font-size: 40px;
          }
        }
      }
    }
  }

  .form-container{
    .form-result{
      display: none;
      text-align: center;
    }
    input{
      font-size: 1em;
    }
    &.success{
      .form-result{
        display: block;
      }
      .apply-incentive{
        display: none;
      }
      form{
        display: none;
      }
    }
    .text-danger{
      max-width: 600px;
      margin: 0px auto 4px;
    }
  }
}
.zh .page-home{
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .left-icon-wrap{
      display: inline-block;
      width: 100px;
      font-size: 0;
      text-align: center; // text-align: left;
      // margin-right: 54px;
      margin-bottom: 40px
    }
    >h3{
      width: 100%;
      max-width: 600px;
      margin: 0px auto;
      font-size: 28px;
      line-height: 1.4;
      text-align: center;
      font-weight: 300;
    }
  }
  .banner {
    form{
      max-width: 540px;
    }
    header{
      display: block;
      >h3{
        font-size: 19px;
        width: auto;
        text-align: left;
      }
    }
  }
  .plugins{
    h4.title{

    }
    .categories{
      padding-left: 56px;
      .cate{
        position: relative;
        padding-left: 64px;
        h4{
        }
        >.icon{
          color: $col-primary;
          display: inline-block;
          position: absolute;
          font-size: 32px;
          top: 0px;
          left: 0px;
        }
      }
      .item{
        >i{
          display: none;
        }
      }
    }
  }
  .more-things{
    .item{
      padding-left: 56px;
      >a{
        color: #53575C;
        font-size: 18px;
        &:hover{
          color: $col-blue;
        }
      }
    }
  }
  .form-container{
    // font-size: 20px;
  }
}
@media (min-width: 480px) {
  .page-home{
    .plugins{
      .categories{
        .cate{
          width: 50%;
        }
      }
    }
    .languages{
      .lang{
        width: 33%;
        >i{
          width: 120px;
          height: 120px;
          margin-bottom: 36px;
        }
      }
    }
  }
  .zh .page-home{
    header >h3{
      font-size: 30px;
    }
    .banner header >h3{
      font-size: 25px;
    }
  }
}
@media(min-width: 840px) {
  .page-home{
    margin-bottom: 0px;
    header{
      margin-bottom: 112px;
    }
    .section {
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 70px;
      }
      h3{
        font-size: 22px;
        line-height: 1.2;
      }
      h4{
      }
    }
    .banner{
      .slogan{
        text-align: center;
        h3{
          font-size: 20px;
          line-height: 1.2;
        }
      }
    }
    .plugins{
      .categories{
        .cate{
          width: 25%;
        }
      }
    }
    .languages{
      .langs{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .lang{
          width: 15%;
        }
      }
    }
    .form-container{
      font-size: 16px;
      .text-danger{
        margin: 0px auto;
      }
      form{
        margin: 0px auto;
        input {
          width: 60%;
          height: 60px;
          margin-bottom: 0px;
        }
        input[type='submit'], input[type='button']{
          width: 40%;
        }
      }
      &.success{
        .form-result{
          display: block;
          text-align: center;
        }
      }
    }
  }
  .zh .page-home{
    .form-container form{
      font-size: 20px;
      input{
        width: calc(100% - 180px);
      }
      input[type='submit'], input[type='button']{
        width: 180px;
      }
    }
    header{
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .left-icon-wrap{
        margin-bottom: 0px;
        margin-right: 54px;
      }
      >h3{
        width: 300px;
        margin: 0px;
        text-align: left;
      }
    }
    .banner header >h3{
      font-size: 28px;
      line-height: 44px;
      text-align: center;
      margin: 0px auto;
    }
    .plugins{
      .categories{
        padding-left: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        .cate{
          width: auto;
        }
      }
    }
    .more-things{
      .things{
        text-align: center;
      }
      .item{
        display: inline-block;
        vertical-align: top;
        padding-left: 0px;
      }
      .item+.item{
        margin-left: 100px;
      }
    }
  }
}

.flow{
  position: relative;
  margin-bottom: 40px;
  min-height: 550px;
  overflow: hidden visible;
  .flow-line{
    position: absolute;
    top: 0px;
    width: 1px;
    height: 0px;
    left: 50%;
    left: calc(50% - 1px);
    background-color: $color-flow-line;
    transition: height .4s ease-in;
    &.active{
      height: 100%!important;
    }
  }
  .flow-steps{
    height: 100%;
    .step{
      padding: 24px 0px;
      .step_wrap{
        height: 36px;
        position: relative;
      }
      .step_info{
        position: absolute;
        background-color: #fff;
        opacity: .3;
        top: 0px;
        min-width: 140px;
        transition: transform 1s ease-in, opacity .3s linear;
        transition-duration: .3s;
      }
      i{
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        border: 10px solid #fff;
        border-radius: 50%;
        background-color: $col-blue;
        box-shadow: 0 0 0 1px rgba($col-blue,0.23);
      }
      p{
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        padding: 0px 8px;
        line-height: 36px;
        white-space: nowrap;
      }
      &:nth-child(2n){
        .step_info{
          left: calc(50% - 18px);
        }
        i,p{
          float: left;
        }
      }
      &:nth-child(2n - 1) {
        .step_info{
          right: calc(50% - 18px);
        }
        i, p{
          float: right;
        }
      }
      &.animate{
        .step_info{
          opacity: 1;
          transform: translateX(0px)!important;
        }
      }
    }
  }
  .flow-steps{
    .step{
      &:nth-child(1) {
        .step_info{
          transform: translateX(100px);
          transition-delay: .1s;
        }
      }
      &:nth-child(2) {
        .step_info{
          transform: translateX(-150px);
          transition-delay: .15s;
        }
      }
      &:nth-child(3) {
        .step_info{
          transform: translateX(158px);
          transition-delay: .2s;
        }
      }
      &:nth-child(4) {
        .step_info{
          transform: translateX(-100px);
          transition-delay: .25s;
        }
      }
      &:nth-child(5) {
        .step_info{
          transform: translateX(120px);
          transition-delay: .3s;
        }
      }
      &:nth-child(6) {
        .step_info{
          transform: translateX(-140px);
          transition-delay: .35s;
        }
      }
      &:nth-child(7) {
        .step_info{
          transform: translateX(140px);
          transition-delay: .4s;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .flow{
    min-height: 84px;
    height: 84px;
    .flow-line{
      width: 0px;
      height: 1px;
      left: 0px;
      top: 41px;
      transition: width .4s ease-in;
      &.active{
        width: 100%;
        height: 1px!important;
      }
    }
    .flow-steps{
      max-width: 1100px;
      margin: 0px auto;
      .step{
        display: inline-block;
        vertical-align: middle;
        width: 14%;
        .step_info{
          background-color: transparent;
          position: initial;
          display: block;
          i,p{
            display: block;
            margin: 0px auto;
            text-align: center;
          }
          i{
            margin-bottom: 8px;
          }
        }
        &:nth-child(2n){
          .step_info{
            // left: 0px;
          }
          i,p{
            float: none;
          }
        }
        &:nth-child(2n - 1) {
          .step_info{
            // right: auto;
            // left: 0px;
          }
          i, p{
            float: none;
          }
        }
        &.animate{

        }
      }
    }
    .flow-steps{
      .step{
        &:nth-child(1) {
          .step_info{
            transform: translateY(30px);
          }
        }
        &:nth-child(2) {
          .step_info{
            transform: translateY(-43px);
          }
        }
        &:nth-child(3) {
          .step_info{
            transform: translateY(42px);
          }
        }
        &:nth-child(4) {
          .step_info{
            transform: translateY(-20px);
          }
        }
        &:nth-child(5) {
          .step_info{
            transform: translateY(23px);
          }
        }
        &:nth-child(6) {
          .step_info{
            transform: translateY(-35px);
          }
        }
        &:nth-child(7) {
          .step_info{
            transform: translateY(35px);
          }
        }
      }
    }
  }
}