@charset 'UTF-8';
@import 'bourbon';

$col-page-home-primary: $col-font-black;

$slogan-color: $col-page-home-primary;
$subtitle-color: $col-page-home-primary;

.page-home{
  overflow: hidden;
  width: 100%;
  .banner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    justify-content: center;
    .slogan{
      margin-bottom: 40px;
      text-align: center;
      h1{
        margin: 0 0 20px 0;
        color: $slogan-color;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        // font-size: 20px;
        // line-height: 20px;
      }
      .subtitle{
        margin: 0;
        color: $subtitle-color;
        font-weight: 100;
        font-size: 20px;
        line-height: 40px;
        // font-size: 50px;
        // line-height: 60px;
      }
    }
    .unsupported{
      color: $slogan-color;
      font-weight: bold;
      text-align: center;
      font-weight: normal;
    }
  }

  .form-container{
    margin-top: 40px;
    text-align: center;
    .text-danger{
      margin-left: 20px;
    }
    .form-result{
      display: none;
      height: 62px;
      font-size: 18px;
      line-height: 62px;
    }
    &.success{
      .form-result{
        display: block;
      }
      #apply-form{
        display: none;
      }
    }
    .apply-incentive{
      display: block;
      margin: 4px auto 0;
      padding-right: 12px;
      width: 600px;
      color: $col-gray;
      text-align: right;
      font-size: 12px;
    }
  }

  .flow-concept, .languages, .more-things, .plugins{
    h2{
      color: $col-font-black;
      b{
        display: block;
        font-weight: bold;
        font-size: 70px;
      }
      small{
        display: block;
        font-weight: 100;
        font-size: 22px;
      }
    }
  }

  .flow-concept{
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    min-height: 100vh;

    justify-content: center;
    #flow-add-step{
      margin-top: 4px;
      padding: 19px;
      border-radius: 0;
      background-color: $col-primary;
      font-size: 22px;
      transition: all .25s;
      &:hover{
        box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
      }
      &[disabled='disabled'] {
        opacity: 0;
      }
      svg{ display: block; }
    }
    .flow{
      position: relative;
      margin-top: 80px;
      margin-bottom: 40px;

      .flow-line{
        position: absolute;
        top: 19px;
        width: 0%;
        height: 1px;
        background-color: $col-primary;
        transition: width 1s ease-in;
        &.active {
          width: 100%;
          transition-delay: 1.55s;
        }
      }
      .flow-steps{
        text-align: center;
        transition: all .5s;
        height: 40px;
      }
      .step{
        position: relative;
        display: inline-block;
        width: 140px;
        opacity: 1;
        transition: all 1s;
        &.hide{
          opacity: 0;
        }
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: .05s;
        }
        &:nth-child(3) {
          transition-delay: .15s;
        }
        &:nth-child(4) {
          transition-delay: .25s;
        }
        &:nth-child(5) {
          transition-delay: .35s;
        }
        &:nth-child(6) {
          transition-delay: .45s;
        }
        &:nth-child(7) {
          transition-delay: .55s;
        }
        > i{
          display: inline-block;
          width: 36px;
          height: 36px;
          border: 10px solid white;
          border-radius: 50%;
          background-color: $col-primary;
          box-shadow: 0 0 0px 1px rgba($col-primary,1);
        }
        > p{
          position: absolute;
          top: 60px;
          left: 50%;
          margin: 0;
          white-space: nowrap;
          font-size: 16px;
          transform: translate3d(-50%,0,0);
        }
      }

      .step.new-item{
        @include animation(appear .5s);
        @include keyframes(appear) {
          0% {
            width: 0;
            opacity: 0;
          }
          100% {
            width: 140px;
            opacity: 1;
          }
        }
        > i{
          background-color: $col-green;
        }
        > p{
          top: auto;
          bottom: 60px;
        }
      }
    }
  }

  .plugins{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    justify-content: center;
    h2{
      color: $col-font-black;
      font-weight: bold;
      font-size: 40px;
    }

    .categories{
      display: flex;
      margin-top: 80px;

      align-items: flex-start;
      .cate{
        display: flex;
        flex-direction: column;

        flex: 1 1 0;
        .title{
          margin-bottom: 12px;
          font-size: 24px;
        }
      }

      .item{
        margin-bottom: 6px;
        > i{ margin-right: 6px; color: $col-green; font-size: 12px; }
      }
    }
  }

  .languages{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    justify-content: center;
    h2{
      color: $col-font-black;
      font-weight: bold;
      font-size: 40px;
    }
    .langs{
      display: flex;
      margin-top: 80px;

      justify-content: space-between;
      .lang{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.89px;
        font-size: 16px;
      }
      i{
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $col-primary;
        color: white;
        font-size: 40px;

        align-items: center;
        justify-content: center;
      }
    }
  }

  .more-things{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    justify-content: center;
    .things{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      .item > a{
        display: flex;
        padding: 12px 0;
        font-size: 20px;

        align-items: center;
        flex: 1 0 0;
        i{
          margin-right: 12px;
          font-size: 30px;
        }
      }
    }
  }
}

#apply-form{
  display: inline-flex;
  box-shadow: 0 2px 6px rgba(black, .2);

  align-items: center;
  align-items: stretch;
  input{
    padding: 19px 28px;
    width: 360px;
    border-color: transparent;
    border-radius: 0;
    font-size: 16px;
  }
  input[type='submit']{
    // width: 120px;
    min-width: 240px;
    width: auto;
    background-color: $col-primary;
    color: white;
    // text-transform: uppercase;
    font-weight: bold;
    // font-size: 18px;
    font-size: 14px;
  }
  input[type='email']{
  }
}
.footer-wrap{
  text-align: right;
  .mixpanel-footer {
    margin-bottom: 12px;
    float: right;
  }
  .weibo-footer{
    float: right;
    margin-top: 8px;
    margin-right: 12px;
  }
}
@media (max-width: 480px) {
  .page-home{
    .plugins{
      .categories{
        flex-wrap: wrap;
        .cate{
          flex-direction: column;
          flex: 1 1 100%;
          margin-bottom: 8px;
        }
      }
    }
  }
}