@charset 'UTF-8';
@import 'bourbon';

$col-page-home-primary: $col-font-black;

$slogan-color: $col-page-home-primary;
$subtitle-color: $col-page-home-primary;

.page-home{
  .section{
    line-height: 1.2;
    color: #4b4e52;
    // min-height: 500px;
    padding-top: 120px;
    padding-bottom: 60px;
    h1{
      font-weight: 700;
      font-size: 44px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    h3 {
      font-weight: 100;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    header{
      margin-bottom: 32px;
    }
  }
  .banner{
    .slogan{
      margin-bottom: 32px;
    }
    form{
      width: 100%;
      max-width: 600px;
      margin: 0px auto;
      margin-bottom: 8px;
      input, button{
        width: 100%;
        height: 48px;
        padding: 12px 24px;
        border-color: transparent;
        border-radius: 0;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);
        margin-bottom: 12px;
        -webkit-appearance: none;
      }
      input[type='submit'], input[type='button'] {
        background-color: #556af8;
        color: #fff;
        font-weight: 700;
        margin-bottom: 4px;
      }
    }
  }
  .plugins{
    h4.title{
      color: #8d9094;
      margin-bottom: 12px;
      font-size: 24px;
    }
    .categories{
      color: #8d9094;
      .cate{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 12px;
      }
      .item{
        margin-bottom: 8px;
        >i{
          margin-right: 6px;
          color: #81bf15;
          font-size: 12px;
        }
      }
    }
  }
  .languages{
    .langs{
      .lang{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin-bottom: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .89px;
        font-size: 16px;
        color: #8d9094;
        >i{
          display: flex;
          width: 100px;
          height: 100px;
          margin: 0px auto;
          border-radius: 50%;
          background-color: #556af8;
          color: #fff;
          font-size: 40px;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .more-things{
    .things{
      .item{
        >a{
          display: flex;
          align-items: center;
          padding: 12px 0px;
          i{
            margin-right: 12px;
            font-size: 30px;
          }
        }
      }
    }
  }

  .form-container{
    .apply-incentive{
      width: 100%;
      max-width: 600px;
      margin: 0px auto;
      color: #8d9094;
      text-align: center;
      font-size: 12px;
    }
    .form-result{
      display: none;
    }
    &.success{
      .form-result{
        display: block;
      }
      .apply-incentive{
        display: none;
      }
      form{
        display: none;
      }
    }
    .text-danger{
      max-width: 600px;
      margin: 0px auto;
      margin-bottom: 4px;
    }
  }
}
.footer-wrap{
  width: 880px;
  margin: 0px auto;
  text-align: right;
  .mixpanel-footer {
    margin-bottom: 12px;
    float: right;
  }
  .weibo-footer{
    float: right;
    margin-top: 8px;
    margin-right: 12px;
  }
}

.flow{
  position: relative;
  margin-bottom: 40px;
  min-height: 550px;
  overflow: hidden visible;
  .flow-line{
    position: absolute;
    top: 0px;
    width: 1px;
    height: 0px;
    left: 50%;
    left: calc(50% - 1px);
    background-color: #556AF8;
    transition: height .4s ease-in, width .4s ease-in;
    &.active{
      height: 100%!important;
    }
  }
  .flow-steps{
    height: 100%;
    .step{
      padding: 24px 0px;
      .step_wrap{
        height: 36px;
        position: relative;
      }
      .step_info{
        position: absolute;
        background-color: #fff;
        opacity: .3;
        top: 0px;
        min-width: 140px;
        transition: transform 1s ease-in, opacity .3s linear;
        transition-duration: .3s;
      }
      i{
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        border: 10px solid #fff;
        border-radius: 50%;
        background-color: #556af8;
        box-shadow: 0 0 0 1px #556af8;
      }
      p{
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
        padding: 0px 8px;
        line-height: 36px;
        white-space: nowrap;
      }
      &:nth-child(2n){
        .step_info{
          left: calc(50% - 18px);
        }
        i,p{
          float: left;
        }
      }
      &:nth-child(2n - 1) {
        .step_info{
          right: calc(50% - 18px);
        }
        i, p{
          float: right;
        }
      }
      &.animate{
        .step_info{
          opacity: 1;
          transform: translateX(0px)!important;
        }
      }
    }
  }
  .flow-steps{
    .step{
      &:nth-child(1) {
        .step_info{
          transform: translateX(100px);
          transition-delay: .1s;
        }
      }
      &:nth-child(2) {
        .step_info{
          transform: translateX(-150px);
          transition-delay: .15s;
        }
      }
      &:nth-child(3) {
        .step_info{
          transform: translateX(158px);
          transition-delay: .2s;
        }
      }
      &:nth-child(4) {
        .step_info{
          transform: translateX(-100px);
          transition-delay: .25s;
        }
      }
      &:nth-child(5) {
        .step_info{
          transform: translateX(120px);
          transition-delay: .3s;
        }
      }
      &:nth-child(6) {
        .step_info{
          transform: translateX(-140px);
          transition-delay: .35s;
        }
      }
      &:nth-child(7) {
        .step_info{
          transform: translateX(140px);
          transition-delay: .4s;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .page-home{
    .plugins{
      .categories{
        .cate{
          width: 50%;
        }
      }
    }
    .languages{
      .langs{
        .lang{
          width: 33%;
        }
      }
    }
  }
}

@media(min-width: 600px) {
  .page-home{
    .section {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
      header{
        margin-bottom: 80px;
      }
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 70px;
      }
      h3{
        font-size: 22px;
        line-height: 1.2;
      }
      h4{
      }
    }
    .banner{
      .slogan{
        text-align: center;
        margin-bottom: 80px;
        h3{
          font-size: 20px;
        }
      }
      form{
        input {
          width: 60%;
          height: 64px;
          font-size: 16px;
          margin-bottom: 0px;
        }
        input[type='submit'], input[type='button']{
          width: 40%;
        }
      }
      .apply-incentive{
        text-align: right;
      }
    }
    .plugins{
      .categories{
        .cate{
          width: 25%;
        }
      }
    }
    .languages{
      .langs{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .lang{
          width: auto;
        }
      }
    }
    .form-container{
      &.success{
        .form-result{
          display: block;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .flow{
    min-height: 84px;
    height: 84px;
    .flow-line{
      width: 0px;
      height: 1px;
      left: 0px;
      top: 41px;
      &.active{
        width: 100%;
        height: 1px!important;
      }
    }
    .flow-steps{
      .step{
        display: inline-block;
        vertical-align: middle;
        width: 14%;
        .step_info{
          background-color: transparent;
          position: initial;
          display: block;
          i,p{
            display: block;
            margin: 0px auto;
            text-align: center;
          }
        }
        &:nth-child(2n){
          .step_info{
            // left: 0px;
          }
          i,p{
            float: none;
          }
        }
        &:nth-child(2n - 1) {
          .step_info{
            // right: auto;
            // left: 0px;
          }
          i, p{
            float: none;
          }
        }
        &.animate{

        }
      }
    }

  .flow-steps{
    .step{
      &:nth-child(1) {
        .step_info{
          transform: translateY(30px);
        }
      }
      &:nth-child(2) {
        .step_info{
          transform: translateY(-43px);
        }
      }
      &:nth-child(3) {
        .step_info{
          transform: translateY(42px);
        }
      }
      &:nth-child(4) {
        .step_info{
          transform: translateY(-20px);
        }
      }
      &:nth-child(5) {
        .step_info{
          transform: translateY(23px);
        }
      }
      &:nth-child(6) {
        .step_info{
          transform: translateY(-35px);
        }
      }
      &:nth-child(7) {
        .step_info{
          transform: translateY(35px);
        }
      }
    }
  }
  }
}