#reset-password-form {
  .form-result{
    display: none;
  }
  &.success{
    .form-result{
      display: block;
    }
    .form-control, .form-error, input[type='submit']{
      display: none;
    }
  }
}