.page-reset-password{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  form {
    legend{
      color: #556AF8;
    }
  }
  .form {
    .form-result{
      display: none;
    }
    &.success{
      .form-result{
        display: block;
      }
      .form-control, .form-error, input[type='submit']{
        display: none;
      }
    }
  }
}
