.page-reset-password{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  #forget-password-form {
    .form-result{
      display: none;
    }
    &.success{
      .form-result{
        display: block;
      }
      .form-control, .form-error, input[type='submit']{
        display: none;
      }
    }
  }
  #forget-password, #reset-password {
    display: none;
  }
}
