@charset 'UTF-8';

.page-signin{
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  .form-container{
    display: flex;
  }
}

#signin-form{
  legend{ color: $col-primary; }
  .form-control{
    display: flex;
    flex-direction: column;
  }
  #password_reset{
    color: #556AF8;
    position: absolute;
    right: -15px;
    top: 10px;
  }
}
