@charset 'UTF-8';

.page-signin{
  .form-container{
    display: flex;
    justify-content: center;
  }
}

#signin-form{
  legend{ color: $col-primary; }
  .form-control{
    display: flex;
    flex-direction: column;
  }
}
