@charset 'UTF-8';

.page-signup{
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  .form-container{
    display: flex;
  }
}

#signup-form{
  legend{ color: $col-green; }
  input, textarea{
    border-color: $col-green;

    @include placeholder{ color: rgba($col-green, .5); }
  }
  input[type='submit']{ background-color: $col-green; }
}
