@charset 'UTF-8';

.page-signup{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 60px;
  justify-content: center;
  .form-container{
    display: flex;
  }
}

#signup-form{
  legend{ color: $col-primary; }
  // input, textarea, select{
  //   border-color: $col-green;

  //   @include placeholder{ color: rgba($col-green, .5); }
  // }
  // input[type='submit']{ background-color: $col-green; }
  .form-code{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    >input{
      margin-bottom: 0px;
      width: 200px;
    }
  }
}
