@charset 'UTF-8';

@import './variables/colors';
@import './variables/form';
@import './variables/presets';

@import './components/beta_bar';
@import './components/navbar';
@import './components/footer';
@import './components/wrapper';

html, body{
  width: 100%;
}

body{
  margin: 0;
  color: $col-font-gray;
  font-size: 14px;
  font-family: 'Open Sans', 'Avenir Next', myriad-pro,'Helvetica Neue', Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
}

.page-container{
  padding: 40px;
}

.text-danger{
  color: $col-red;
}
.text-success{
  color: $col-green;
}

.text-danger{
  color: $col-red;
}
.text-success{
  color: $col-green;
}
