$c-blue: #5863F8;
$c-red: #E63462;
$c-yellow: #FAFC00;
$c-green: #61B136;
$c-gray: #413C53;

$c-font: #fff;
$c-font-sec: #999AA4;

$c-hr: #33333D;
$c-hr-white: rgba(#fff, .1);

$input-bg: #4F427E;
$input-bg-light: #4F427E;

$c-btn-disabled: #B3B5B2;

$body-bg: #2D2E36;

$c-primary: $c-blue;
