@charset 'UTF-8';

#particles-js{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 50% 50% , #202020 0%, #000000 68%);
}

.position-wrapper{
  position: relative;
  z-index: 99;
}

#logo{
  margin: 0;
  text-align: center;
  font-family: 'Campton';
  font-size: 110px;
  color: rgba(74,144,226,.5);
  font-weight: 700;
  text-shadow: -20px 0px #fff;
  text-transform: uppercase;
  @include animation(logo-text-shadow-change-color 20s infinite);
  @include animation-fill-mode(backwards);
}

.slogan{
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Campton';
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 100;
}

@include keyframes(logo-text-shadow-change-color){
  0% {  color: rgba(#0d73e6,.3); }
  10% { color: rgba(#0de697,.3); }
  20% { color: rgba(#987a14,.3); }
  30% { color: rgba(#e23b1f,.3); }
  40% { color: rgba(#af7716,.3); }
  50% { color: rgba(#749814,.3); }
  60% { color: rgba(#af7716,.3); }
  70% { color: rgba(#e23b1f,.3); }
  80% { color: rgba(#987a14,.3); }
  90% { color: rgba(#0de697,.3); }
  100% { color: rgba(#0d73e6,.3); }
}

#apply-form{
  z-index: 2;
  width: 50%;
  input,textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  textarea{
    resize: none;
    height: 200px;
    padding: 8px 12px;
    border-radius: 3px;
    outline: none;
  }
}