@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'flowci';
    src:    url('../static/fonts/flowci.eot?goeeqg');
    src:    url('../static/fonts/flowci.eot?goeeqg#iefix') format('embedded-opentype'),
        url('../static/fonts/flowci.ttf?goeeqg') format('truetype'),
        url('../static/fonts/flowci.woff?goeeqg') format('woff'),
        url('../static/fonts/flowci.svg?goeeqg#flowci') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'flowci' !important;
    line-height: 1;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gitter:before {
  content: "\e93d";
}
.icon-gitbook:before {
  content: "\e93e";
}
.icon-analysis:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-database:before {
  content: "\e902";
}
.icon-inbox:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e600";
}
.icon-logo-inline:before {
  content: "\e904";
}
.icon-logo:before {
  content: "\e905";
}
.icon-repo-push:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-code-fork:before {
  content: "\e908";
}
.icon-git-commit:before {
  content: "\e909";
}
.icon-dots-three-horizontal:before {
  content: "\e90a";
}
.icon-mac:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e90c";
}
.icon-timer:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-android:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-trash:before {
  content: "\e911";
}
.icon-file-text2:before {
  content: "\e912";
}
.icon-key:before {
  content: "\e913";
}
.icon-gear:before {
  content: "\e914";
}
.icon-hour-glass:before {
  content: "\e915";
}
.icon-ruby:before {
  content: "\e916";
}
.icon-apple:before {
  content: "\e917";
}
.icon-left:before {
  content: "\e918";
}
.icon-code:before {
  content: "\e919";
}
.icon-down:before {
  content: "\e91a";
}
.icon-right:before {
  content: "\e91b";
}
.icon-beta:before {
  content: "\e91c";
}
.icon-stack:before {
  content: "\e91d";
}
.icon-comments-o:before {
  content: "\e91e";
}
.icon-git-pull-request:before {
  content: "\e91f";
}
.icon-spinner5:before {
  content: "\e920";
}
.icon-home:before {
  content: "\e921";
}
.icon-adcanced:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-edit:before {
  content: "\e924";
}
.icon-user:before {
  content: "\e925";
}
.icon-paper-plane:before {
  content: "\e926";
}
.icon-book:before {
  content: "\e927";
}
.icon-bitbucket-logo:before {
  content: "\e928";
}
.icon-github-logo:before {
  content: "\e929";
}
.icon-nodejs:before {
  content: "\e92a";
}
.icon-rails:before {
  content: "\e92b";
}
.icon-osx:before {
  content: "\e92c";
}
.icon-home2:before {
  content: "\e92d";
}
.icon-magic:before {
  content: "\e92e";
}
.icon-pencil:before {
  content: "\e92f";
}
.icon-source-code:before {
  content: "\e930";
}
.icon-repo:before {
  content: "\e931";
}
.icon-check:before {
  content: "\e932";
}
.icon-power:before {
  content: "\e933";
}
.icon-blocked:before {
  content: "\e934";
}
.icon-tag:before {
  content: "\e935";
}
.icon-loop:before {
  content: "\e936";
}
.icon-git:before {
  content: "\e937";
}
.icon-hand-pointer-o:before {
  content: "\e938";
}
.icon-terminal:before {
  content: "\e939";
}
.icon-tools:before {
  content: "\e93a";
}
.icon-bolt:before {
  content: "\e93b";
}
.icon-chain-broken:before {
  content: "\e93c";
}
.icon-gitlab-logo-txt:before {
  content: "\e948";
}
.icon-python:before {
  content: "\e94a";
}
.icon-php:before {
  content: "\e94b";
}
.icon-locked:before {
  content: "\e94c";
}
.icon-repo-push2:before {
  content: "\f005";
}
.icon-file-code:before {
  content: "\f010";
}
