@import 'variables/icon';
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'flowci';
    src:    url('../static/fonts/flowci.eot?goeeqg');
    src:    url('../static/fonts/flowci.eot?goeeqg#iefix') format('embedded-opentype'),
        url('../static/fonts/flowci.ttf?goeeqg') format('truetype'),
        url('../static/fonts/flowci.woff?goeeqg') format('woff'),
        url('../static/fonts/flowci.svg?goeeqg#flowci') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'flowci' !important;
    line-height: 1;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-brace-left:before {
  content: "\e900";
}

.icon-logo:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e600";
}

.icon-users:before {
  content: "\e901";
}

.icon-battery-1:before {
  content: "\e902";
}

.icon-book:before {
  content: "\e903";
}

.icon-file:before {
  content: "\e904";
}

.icon-box:before {
  content: "\e905";
}

.icon-cog:before {
  content: "\e906";
}

.icon-repo-push:before {
  content: "\e908";
}

.icon-menu:before {
  content: "\e909";
}

.icon-code-fork:before {
  content: "\e90a";
}

.icon-git-commit:before {
  content: "\e90b";
}

.icon-dots-three-horizontal:before {
  content: "\e90c";
}

.icon-logout:before {
  content: "\e90d";
}

.icon-owner:before {
  content: "\e90e";
}

.icon-timer:before {
  content: "\e90f";
}

.icon-wechat:before {
  content: "\e910";
}

.icon-android:before {
  content: "\e911";
}

.icon-search:before {
  content: "\e912";
}

.icon-trash:before {
  content: "\e913";
}

.icon-coding_net:before {
  content: "\e914";
}

.icon-key:before {
  content: "\e915";
}

.icon-bell:before {
  content: "\e916";
}

.icon-hour-glass:before {
  content: "\e917";
}

.icon-ruby:before {
  content: "\e918";
}

.icon-apple:before {
  content: "\e919";
}

.icon-left:before {
  content: "\e91a";
}

.icon-code:before {
  content: "\e91b";
}

.icon-down:before {
  content: "\e91c";
}

.icon-right:before {
  content: "\e91d";
}

.icon-bitbucket:before {
  content: "\e91e";
}

.icon-stack:before {
  content: "\e91f";
}

.icon-battery-0:before {
  content: "\e920";
}

.icon-git-pull-request:before {
  content: "\e921";
}

.icon-spinner5:before {
  content: "\e922";
}

.icon-home:before {
  content: "\e923";
}

.icon-computer:before {
  content: "\e924";
}

.icon-plus:before {
  content: "\e925";
}

.icon-edit:before {
  content: "\e926";
}

.icon-user:before {
  content: "\e927";
}

.icon-paper-plane:before {
  content: "\e928";
}

.icon-question:before {
  content: "\e929";
}

.icon-github:before {
  content: "\e92a";
}

.icon-monitor:before {
  content: "\e92b";
}

.icon-nodejs:before {
  content: "\e92c";
}

.icon-rails:before {
  content: "\e92d";
}

.icon-battery-2:before {
  content: "\e92e";
}

.icon-radio-checked:before {
  content: "\e92f";
}

.icon-magic:before {
  content: "\e930";
}

.icon-pencil:before {
  content: "\e931";
}

.icon-alert:before {
  content: "\e932";
}

.icon-repo:before {
  content: "\e933";
}

.icon-check:before {
  content: "\e934";
}

.icon-coding_net-full:before {
  content: "\e935";
}

.icon-blocked:before {
  content: "\e936";
}

.icon-battery-3:before {
  content: "\e937";
}

.icon-battery-4:before {
  content: "\e938";
}

.icon-github-full:before {
  content: "\e939";
}

.icon-terminal:before {
  content: "\e93a";
}

.icon-locked:before {
  content: "\e93b";
}

.icon-bolt:before {
  content: "\e93c";
}

.icon-chain-broken:before {
  content: "\e93d";
}

.icon-gitter:before {
  content: "\e93e";
}

.icon-gitbook:before {
  content: "\e93f";
}

.icon-cog2:before {
  content: "\e940";
}

.icon-bitbucket-full:before {
  content: "\e941";
}

.icon-prepare:before {
  content: "\e942";
}

.icon-failure:before {
  content: "\e943";
}

.icon-loop:before {
  content: "\e944";
}

.icon-sync:before {
  content: "\e945";
}

.icon-upload:before {
  content: "\e946";
}

.icon-club:before {
  content: "\e947";
}

.icon-date:before {
  content: "\e948";
}

.icon-shape:before {
  content: "\e949";
}

.icon-java:before {
  content: "\e94a";
}

.icon-python:before {
  content: "\e94b";
}

.icon-php:before {
  content: "\e94c";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-eye-blocked:before {
  content: "\e9d1";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-file-code:before {
  content: "\f010";
}

.icon-gitlab:before {
  content: "\f296";
}
