@import 'variables/icon';
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'flowci';
    src:    url('../static/fonts/flowci.eot?goeeqg');
    src:    url('../static/fonts/flowci.eot?goeeqg#iefix') format('embedded-opentype'),
        url('../static/fonts/flowci.ttf?goeeqg') format('truetype'),
        url('../static/fonts/flowci.woff?goeeqg') format('woff'),
        url('../static/fonts/flowci.svg?goeeqg#flowci') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'flowci' !important;
    line-height: 1;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-java {
  &:before {
    content: $icon-java;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-battery-1 {
  &:before {
    content: $icon-battery-1;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-box {
  &:before {
    content: $icon-box;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-repo-push {
  &:before {
    content: $icon-repo-push;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-code-fork {
  &:before {
    content: $icon-code-fork;
  }
}
.icon-git-commit {
  &:before {
    content: $icon-git-commit;
  }
}
.icon-dots-three-horizontal {
  &:before {
    content: $icon-dots-three-horizontal;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;
  }
}
.icon-owner {
  &:before {
    content: $icon-owner;
  }
}
.icon-timer {
  &:before {
    content: $icon-timer;
  }
}
.icon-wechat {
  &:before {
    content: $icon-wechat;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-coding_net {
  &:before {
    content: $icon-coding_net;
  }
}
.icon-key {
  &:before {
    content: $icon-key;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-hour-glass {
  &:before {
    content: $icon-hour-glass;
  }
}
.icon-ruby {
  &:before {
    content: $icon-ruby;
  }
}
.icon-apple {
  &:before {
    content: $icon-apple;
  }
}
.icon-left {
  &:before {
    content: $icon-left;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-down {
  &:before {
    content: $icon-down;
  }
}
.icon-right {
  &:before {
    content: $icon-right;
  }
}
.icon-bitbucket {
  &:before {
    content: $icon-bitbucket;
  }
}
.icon-stack {
  &:before {
    content: $icon-stack;
  }
}
.icon-battery-0 {
  &:before {
    content: $icon-battery-0;
  }
}
.icon-git-pull-request {
  &:before {
    content: $icon-git-pull-request;
  }
}
.icon-spinner5 {
  &:before {
    content: $icon-spinner5;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-computer {
  &:before {
    content: $icon-computer;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-nodejs {
  &:before {
    content: $icon-nodejs;
  }
}
.icon-rails {
  &:before {
    content: $icon-rails;
  }
}
.icon-battery-2 {
  &:before {
    content: $icon-battery-2;
  }
}
.icon-radio-checked {
  &:before {
    content: $icon-radio-checked;
  }
}
.icon-magic {
  &:before {
    content: $icon-magic;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-repo {
  &:before {
    content: $icon-repo;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-coding_net-full {
  &:before {
    content: $icon-coding_net-full;
  }
}
.icon-blocked {
  &:before {
    content: $icon-blocked;
  }
}
.icon-battery-3 {
  &:before {
    content: $icon-battery-3;
  }
}
.icon-battery-4 {
  &:before {
    content: $icon-battery-4;
  }
}
.icon-github-full {
  &:before {
    content: $icon-github-full;
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal;
  }
}
.icon-locked {
  &:before {
    content: $icon-locked;
  }
}
.icon-bolt {
  &:before {
    content: $icon-bolt;
  }
}
.icon-chain-broken {
  &:before {
    content: $icon-chain-broken;
  }
}
.icon-gitter {
  &:before {
    content: $icon-gitter;
  }
}
.icon-gitbook {
  &:before {
    content: $icon-gitbook;
  }
}
.icon-cog2 {
  &:before {
    content: $icon-cog2;
  }
}
.icon-bitbucket-full {
  &:before {
    content: $icon-bitbucket-full;
  }
}
.icon-prepare {
  &:before {
    content: $icon-prepare;
  }
}
.icon-failure {
  &:before {
    content: $icon-failure;
  }
}
.icon-loop {
  &:before {
    content: $icon-loop;
  }
}
.icon-sync {
  &:before {
    content: $icon-sync;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-club {
  &:before {
    content: $icon-club;
  }
}
.icon-date {
  &:before {
    content: $icon-date;
  }
}
.icon-shape {
  &:before {
    content: $icon-shape;
  }
}
.icon-python {
  &:before {
    content: $icon-python;
  }
}
.icon-php {
  &:before {
    content: $icon-php;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked;
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty;
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked;
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked;
  }
}
.icon-file-code {
  &:before {
    content: $icon-file-code;
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab;
  }
}