@charset 'UTF-8';

html, body{
  min-height: 100vh;
}

body{
  background-color: $body-bg;
  color: $c-font-sec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

#form-signin{
  width: 320px;
  display: flex;
  flex-direction: column;
  input{ margin-bottom: 8px; }
}

input, button{
  outline: none;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
}

input[type='submit']{
  background-color: $c-blue;
  color: $c-font;
  border-color: $c-blue;
}
