@import '~normalize-css/normalize';
@import 'bourbon';
@import 'colors';
@import 'base';
@import 'signin';
@import 'signup';

html,body{
  width: 100%;
};

#test{
  @include animation-iteration-count(infinite);
}

#test1{
  @include triangle(12px, gray, down);
}
