@import './fonts';
@import './base';
@import './icon';

@import './pages/forms';
@import './pages/home';
@import './pages/pricing';
@import './pages/signup';
@import './pages/signin';
@import './pages/password';

body{
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,hsla(0,0%,100%,0),#fff 60%);
    content: ' ';
  }
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
