@import './fonts';
@import './base';
@import './icon';

@import './pages/forms';
@import './pages/home';
@import './pages/pricing';
@import './pages/signup';
@import './pages/signin';
@import './pages/password';

body{
  &:after{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg,hsla(0,0%,100%,0),#fff 40%);
    content: ' ';
  }
  .logo{
    height: 25px;
  }
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.hide{
  display: none!important;
}
@media (min-width: 768px) {
  body{
    &:after{
      height: 200px;
    }
  }
}

// reset
h1,h2,h3,h4,h5 {
  margin: 0px;
  padding: 0px;
}