extends ../layouts/default

block content
  .page-container.page-home
    //- .right-block
    .slogan
      h1 How much time do you waste on building CI?
      p.subtitle Just give me the time of a song.

    .form-container
      p.text-success Thank you for applying for flow.ci early access. <br/>We will review your application and send the invitation code to your email.
      form#apply-form(method='post')
        legend Apply Early Access
        div.form-control.form-control-email
          input#email(type='email', name='email', placeholder='Work email', required, autofocus)
          span.text-danger
        div.form-control
          textarea#user_infomation(name='user_infomation', placeholder='Options\n 1. 开发团队规模\n 2. 是否用过 CI\n 3. 公司或者产品名')
        input(type='submit' value='Early Access')
