extends ../layouts/default

block content
  .page-home
    .content-wrapper-270
      .banner
        .slogan
          h1 Keep your code flowing
          p.subtitle flow.ci, hosted continuous integration and delivery service for innovators who shape the future

        .form-container
          form#apply-form(method='post' onsubmit="return false;")
            input#email(type='email', name='email', placeholder='Work email', required)
            input(type='submit' value='Apply for early access')
          div.text-danger
          .form-result.text-success Thanks for applying, We will email you invitation code&nbsp;&nbsp;: )
          .apply-incentive Free, secure and we value your efforts.

    .flow-concept
      .content-wrapper-270
        h2
          b FLOW
          small Automate your development workflow without constraints.
      .flow
        .flow-line
        .flow-steps

    .plugins
      .content-wrapper-270
        h2
          b PLUGINS
          small No configuration needed, add powerful plugins with one click.
        .categories
          .cate.code-analysis
            .title Code Analysis
            .list
              .item
                i.icon-check
                | Rubocop
              .item
                i.icon-check
                | Eslint
              .item
                i.icon-check
                | pep8
              .item
                i.icon-check
                | Codesniffer
                .item
                i.icon-check
                | Pretty Result

          .cate.databases
            .title Database
            .list
              .item
                i.icon-check
                | MongoDB
              .item
                i.icon-check
                | MySQL
              .item
                i.icon-check
                | Redis

          .cate.notification
            .title Notification
            .list
              .item
                i.icon-check
                | Email
              .item
                i.icon-check
                | Slack

          .cate.others
            .title More
            .list
              .item
                i.icon-check
                | Custom Scripts
              .item ...


    .languages
      .content-wrapper-270
        h2
          b LANGUAGES
          small We speak your language. Get started with language specific templates. It’s easy :&nbsp;)
        .langs
          div.lang
            i.icon-ruby
            p Ruby
          div.lang
            i.icon-python
            p Python
          div.lang
            i.icon-php
            p PHP
          div.lang
            i.icon-nodejs
            p Node.js
          div.lang
            i.icon-android
            p Android

    .more-things
      .content-wrapper-270
        h2
          b More to come
          small We keep building new stuff. Stay tuned!
        .things
          div.item
            a(href='https://github.com/FIRHQ/flow.ci' target='_blank').open-source-project
              i.icon-github
              span View our open-source project
          div.item
            a(href='https://gitter.im/FIRHQ/flow.ci' target='_blank').contact
              i.icon-comments-o
              span Chat with other users through Gitter
