extends ../layouts/default
block navbar
block content
  div.page-coming
    div.container
      div.rectangle
        img(src=require('../static/images/rectangle.png'))
      div.content
        h1
          i.icon.icon-logo
        h2 NEW SITE IS COMING SOON
        h3
          a(href='https://jinshuju.net/f/i6Hpkb',target='_blank',ref='noopener')
            帮助我们更好的开发新版，点击获取内测资格！

block footer
