extends ../layouts/default

block content
  #particles-js
  - var props = require('../../config/index.json');
  .position-wrapper
    h1#logo flow.ci
    p.slogan Flow your code, Free your work
  form#apply-form
    input#email(type='email', placeholder='Email', required)
    textarea#user_infomation(placeholder='Something about your')
    input(type='submit' value='申请')