extends ../layouts/default

block content
  .page-reset-password
    .content-wrapper-270
      .form-container
        form.form#reset-password-form(method='post' onsubmit="return false;")
          legend Reset your passowrd
          .form-result.text-success Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
          div.form-control.form-email
            input#email(placeholder='Email', name='email', type='text', required)
            span.text-danger
          div.text-danger.form-error
          input(type='submit', value='Send password reset email')
