extends ../layouts/default

block content
  .page-signin
    .content-wrapper-270
      .form-container
        form#signin-form(method='post' onsubmit="return false;")
          legend #{language.signin_title}
          div.form-control.form-loginname
            input#login(placeholder='#{language.signin_login_name}', name='login', type='user', required)
            span.text-danger
          div.form-control.form-password
            input#password(placeholder='#{language.signin_password}', name='password', type='password', required)
            a.pull-right(href='/password_reset.html' id='password_reset' title='Forgot password' style='display: none') ?
            span.text-danger.pull-left
          div.text-danger.form-error
          input(type='submit', value='#{language.signin_button}')
