extends ../layouts/default

block content
  .gradient-banner.form
    form#form-signin
      h1 Flow.ci
      input#login(placeholder='Email or Username', type='user', required)
      input#password(placeholder='Password', type='password', required)
      input(type='submit', value='Sign In')
