extends ../layouts/users

block content
  h1 Flow.ci
  form#form-signup
    input#sign(type='text', placeholder='Sign')
    input#email(placeholder='Email',type='email' required)
    input#username(placeholder='Username')
    input#password(placeholder='Password', type='password')
    input(type='submit', value='Sign Up')
