extends ../layouts/default

block content
  .page-container.page-signin
    .form-container
      form#signin-form
        legend Sign in to flow.ci
        input#login(placeholder='Email or Username', type='user', required)
        input#password(placeholder='Password', type='password', required)
        input(type='submit', value='Sign In')
