extends ../layouts/default

block content
  .page-home
    .content-wrapper-270
      .banner
        .slogan
          h1 Keep your code flowing
          p.subtitle flow.ci, hosted continuous integration and delivery service for innovators who shape the future
        h2.unsupported IE is not supported, try using Chrome or Safari.

