$col-font-black: #4B4E52;
$col-font-gray: #8D9094;
$col-font-gray2: #CCCFD2;

$col-blue: #5767D0;
$col-green: #8BB73E;
$col-red: #E56065;
$col-yellow: #F8CC1C;
$col-gray: #8D9094;
$col-grey100: #D9DADF;
$col-primary: $col-blue;
$col-black: #565F76;
$col-hr: #DFE0E6;

$color-grey: #C1C3C7;