$col-font-black: #4B4E52;
$col-font-gray: #8D9094;
$col-font-gray2: #CCCFD2;

$col-blue: #556AF8;
$col-green: #81BF15;
$col-red: #f25367;
$col-yellow: #F8CC1C;
$col-gray: #8D9094;

$col-primary: $col-blue;

$col-hr: #ECEEF1;

$color-grey: #C1C3C7;