input:not([type='submit']), textarea{
  outline: none;
  border: 1px solid $col-font-gray;
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
}

textarea{
  padding: 12px;
  resize: vertical;
}
select{
  height: 40px;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid $col-font-gray;
  background: none;
  padding: 8px 12px;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
  &:focus, &:hover{
    outline: none;
  }
}
button, input[type='submit']{
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: $col-font-gray;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
  -webkit-appearance: none;
}
