input:not([type='submit']), textarea{
  outline: none;
  border: 1px solid $col-font-gray;
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
}

textarea{
  padding: 12px;
  resize: vertical;
}
select{
  height: 40px;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid $col-font-gray;
  background: none;
  padding: 8px 30px 8px 12px;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-image: url('../static/images/down.svg');
  background-position: calc(100% - 10px) center;
  &:focus, &:hover{
    outline: none;
  }
}
button, input[type='submit']{
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: $col-font-gray;
  padding: 9px 12px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'PingFang SC', 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
  -webkit-appearance: none;
}

button[disabled] {
  cursor: not-allowed;
  pointer-events: none;

  background-color: #DFE0E6!important;
  color: #fff!important;
  border-color: #DFE0E6!important;
}

.btn-green{
  background-color: $col-green;
  color: #fff;
}
