$icon-java: "\e949";
$icon-close: "\e600";
$icon-users: "\e900";
$icon-battery-1: "\e901";
$icon-book: "\e902";
$icon-file: "\e903";
$icon-box: "\e904";
$icon-logo: "\e905";
$icon-cog: "\e906";
$icon-repo-push: "\e907";
$icon-menu: "\e908";
$icon-code-fork: "\e909";
$icon-git-commit: "\e90a";
$icon-dots-three-horizontal: "\e90b";
$icon-logout: "\e90c";
$icon-owner: "\e90d";
$icon-timer: "\e90e";
$icon-wechat: "\e90f";
$icon-android: "\e910";
$icon-search: "\e911";
$icon-trash: "\e912";
$icon-coding_net: "\e913";
$icon-key: "\e914";
$icon-bell: "\e915";
$icon-hour-glass: "\e916";
$icon-ruby: "\e917";
$icon-apple: "\e918";
$icon-left: "\e919";
$icon-code: "\e91a";
$icon-down: "\e91b";
$icon-right: "\e91c";
$icon-bitbucket: "\e91d";
$icon-stack: "\e91e";
$icon-battery-0: "\e91f";
$icon-git-pull-request: "\e920";
$icon-spinner5: "\e921";
$icon-home: "\e922";
$icon-computer: "\e923";
$icon-plus: "\e924";
$icon-edit: "\e925";
$icon-user: "\e926";
$icon-paper-plane: "\e927";
$icon-question: "\e928";
$icon-github: "\e929";
$icon-monitor: "\e92a";
$icon-nodejs: "\e92b";
$icon-rails: "\e92c";
$icon-battery-2: "\e92d";
$icon-radio-checked: "\e92e";
$icon-magic: "\e92f";
$icon-pencil: "\e930";
$icon-alert: "\e931";
$icon-repo: "\e932";
$icon-check: "\e933";
$icon-coding_net-full: "\e934";
$icon-blocked: "\e935";
$icon-battery-3: "\e936";
$icon-battery-4: "\e937";
$icon-github-full: "\e938";
$icon-terminal: "\e939";
$icon-locked: "\e93a";
$icon-bolt: "\e93b";
$icon-chain-broken: "\e93c";
$icon-gitter: "\e93d";
$icon-gitbook: "\e93e";
$icon-cog2: "\e93f";
$icon-bitbucket-full: "\e940";
$icon-prepare: "\e941";
$icon-failure: "\e942";
$icon-loop: "\e943";
$icon-sync: "\e944";
$icon-upload: "\e945";
$icon-club: "\e946";
$icon-date: "\e947";
$icon-shape: "\e948";
$icon-python: "\e94a";
$icon-php: "\e94b";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-file-code: "\f010";
$icon-gitlab: "\f296";
