- bughd_token = htmlWebpackPlugin.options.bughd_token
doctype html
html
  head
    meta(charset='utf-8')
    block title
      title flow.ci
    script(type="text/javascript", src="https://dn-bughd-web.qbox.me/bughd.min.js", crossOrigin="anonymous")
    script(type="text/javascript").
      window.bughd = window.bughd || function(){};
      bughd("create",{key: #{bughd_token}});
  body
    include ../includes/beta_bar
    include ../includes/navbar
    block content

    //- include ../includes/footer
